@media (max-width: 1600px) {
  .container {
    width: 1320px;
  }

  .top-line {
    padding-left: 150px;
    padding-right: 150px;
  }

  .bg-icons1 {
    bottom: 18%;
  }

  .bg-icons2 {
    bottom: 12%;
  }

  .about__partners img {
    width: 1150px;
  }

  .work-process__cards {
    gap: 9%;
  }
}

@media (max-width: 1400px) {
  .container {
    width: 1140px;
  }

  .bg-icons1 {
    bottom: 22%;
  }

  .bg-icons2 {
    bottom: 14%;
  }

  .section-desc {
    padding: 100px 150px;
  }

  .dividingLine-block {
    width: 500px;
  }

  .about__partners img {
    width: 1000px;
  }

  .work-process__cards {
    gap: 2%;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 960px;
  }

  .info-wrapper {
    font-size: 20px;
  }

  .info-desc {
    margin-bottom: 220px;
  }

  .logo-wrapper {
    margin-right: 80px;

    img {
      width: 150px;
    }
  }

  .bg-icons1 {
    bottom: 16%;
  }

  .bg-icons2 {
    bottom: 10%;
  }

  .bg-iphone {
    width: 350px;
  }

  .section-desc {
    padding: 100px 100px;
  }

  .about-item__photo {
    width: 380px;
    height: 380px;
  }

  .about-item__desc {
    width: 380px;
  }

  .about-item__author {
    font-size: 48px;
  }

  .about__partners {
    padding-top: 50px;
    padding-bottom: 50px;

    img {
      width: 800px;
    }
  }

  .work-process__cards {
    justify-content: space-between;
  }
}

@media (max-width: 992px) {
  .container {
    width: 720px;
  }

  .header {
    height: 100vh;
  }

  .bg-icons1 {
    left: 50px;
    bottom: 22%;
  }

  .bg-icons2 {
    bottom: 14%;
  }

  .top-line {
    padding-left: 40px;
    padding-right: 40px;
  }

  .nav {
    font-size: 16px;
  }

  .bg-iphone {
    width: 300px;
  }

  .info-wrapper {
    bottom: 0;
  }

  .info-desc {
    margin-bottom: 180px;
  }

  .hamburger-wrapper {
    display: block;
  }

  .menu-desktop {
    display: none;
  }

  .menu-mobile {
    display: block;
  }

  .section-icon img {
    width: 30px;
  }

  .section-title h2 {
    font-size: 58px;
  }

  .section-desc {
    margin-bottom: 40px;
    padding: 80px 50px;
    font-size: 20px;
  }

  .about-items {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .dividingLine-block {
    width: 320px;
  }

  .about-item {
    align-items: center;
  }

  .about-item__photo {
    width: 250px;
    height: 250px;
  }

  .about-item__desc {
    width: 250px;
  }

  .about-item__author {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .about-item__text {
    margin-bottom: 10px;
    font-size: 14px;
  }

  .about-item__message {
    font-size: 14px;
  }

  .about__partners img {
    width: 600px;
  }

  .no-js .work-process__carousel.owl-carousel,
  .work-process__carousel.owl-carousel.owl-loaded {
    display: block;
  }

  .work-process__cards {
    display: none;
  }

  .work-process__card {
    margin: 0 auto;
  }

  .no-js .services-carousel.owl-carousel,
  .services-carousel.owl-carousel.owl-loaded {
    display: block;
  }

  .services-title {
    margin-bottom: 60px;
  }

  .services__goods {
    display: none;
  }

  .services__good {
    margin: 0 auto;
    text-align: center;
  }

  .btn-services {
    margin-top: 40px;
    padding: 30px;
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  section {
    padding-top: 50px;
  }

  .container {
    width: 540px;
  }

  .info-desc {
    font-size: 18px;
  }

  .bg-icons1 {
    left: 20px;
    bottom: 20%;
  }

  .bg-icons2 {
    bottom: 14%;
  }

  .info-wrapper {
    bottom: 0;
  }

  .bg-iphone {
    width: 250px;
  }

  .logo-wrapper {
    margin-right: 60px;

    img {
      width: 100px;
    }
  }

  .about-item__author {
    font-size: 20px;
  }

  .section-title h2 {
    font-size: 42px;
  }

  .section-desc {
    padding: 30px;
    font-size: 14px;
  }

  .about__partners img {
    width: 450px;
  }
}

@media (max-width: 576px) {
  .container {
    width: 100%;
  }

  .bg-icons1,
  .bg-icons2 {
    display: none;
  }

  .about-items {
    display: none;
  }

  .section-title {
    margin: 0 auto;
    margin-bottom: 60px;
    text-align: center;
  }

  .section-icon {
    text-align: center;
  }

  .section-desc {
    padding-top: 0;
    margin-bottom: 40px;
  }

  .about-item {
    flex-direction: column;
    text-align: center;

    &:nth-child(odd) {
      flex-direction: column;
    }
  }

  .about-item__photo {
    margin-bottom: 20px;
  }

  .no-js .owl-carousel,
  .owl-carousel.owl-loaded {
    display: block;
  }

  .about__partners {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .about__partners img {
    width: 300px;
  }

  .services__good {
    width: 300px;
  }

  .good__photo {
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
  }

  .price {
    font-size: 48px;
    line-height: 48px;
  }
}

@media (max-width: 400px) {
  .info-desc {
    font-size: 16px;
  }
}
