@import 'fonts';
@import 'vars';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Overpass, sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #fff;
}

.header {
  overflow: hidden;
  position: relative;
  height: 100vh;
  width: 100%;
  color: #fff;
  background-color: #191919;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 1500px;
}

.bg-particles {
  position: absolute;
  top: 40%;
}

.bg-iphone {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 520px;
  transform: translate(-50%);
}

.bg-icons {
  position: absolute;
  top: 110%;
}

.top-line {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 40px 285px;
}

.logo-wrapper {
  margin-right: 155px;
}

.nav {
  z-index: 1000;
  cursor: pointer;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  font-family: 'JetBrains Mono', sans-serif;
  font-size: 18px;
}

.nav-item:hover a {
  color: $color-primary;
}

.text-gradient {
  background: -webkit-linear-gradient(left, #8baebb, #f1a1a1);
  background: -o-linear-gradient(right, #8baebb, #f1a1a1);
  background: -moz-linear-gradient(right, #8baebb, #f1a1a1);
  background: linear-gradient(to right, #8baebb, #f1a1a1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.info-wrapper {
  max-width: 620px;
  padding-top: 225px;
  font-size: 24px;
}

.info-desc {
  text-align: center;
}

@import 'media';
