* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Overpass, sans-serif;
  font-size: 16px;
}

.header {
  overflow: hidden;
  position: relative;
  height: 100vh;
  width: 100%;
  color: #fff;
  background-color: #191919;
}

.bg-particles {
  position: absolute;
  top: 40%;
}

.bg-iphone {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 520px;
  transform: translate(-50%);
}

.bg-icons {
  position: absolute;
  top: 110%;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 1500px;
}

.info-wrapper {
  max-width: 620px;
  padding-top: 225px;
  font-size: 24px;
}

.info-desc {
  text-align: center;
}
